[submodule "assets/Horiseon-Social-Solution-Services"]
	path = assets/Horiseon-Social-Solution-Services
	url = https://github.com/TScarl/Horiseon-Social-Solution-Services


[submodule "assets/Horiseon-Social-Solution-Services"]
	path = assets/CineFile-Group-Project-1
	url = https://github.com/zeinahares/Group-Project-1-CineFile